body {
    background-color: rgb(240, 231, 231);
    flex-wrap: wrap;
}

.M {
    display: flex;
    margin: auto;
    justify-content: end;
    flex-direction: row;
    border-radius: 5px;
    position:static;
    color: rgb(42, 41, 41);
    font-size: 30px;
}

.M div {
    margin: 0 15px;
}

.M a {
     text-decoration: none;
     font-size: 30px;
     color: rgb(38, 38, 38);
}

.q {
    padding: 5px;
    margin: 1px;
    display: flex;
    flex-wrap: wrap;
}

.about {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 70vw;
    font-size: 30px;
}

.about p {
    padding: 50px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
    line-height: 25px;
    color: rgb(228, 153, 14);
    font-weight: 600;
}


.s {
    /* image: url("WhatsApp Image 2023-01-28 at 00.56.51.jpeg"); */
    height: 50vh;
    overflow: hidden;
    margin: auto;
    width: 160px;
    position: absolute;
    top: 130px;
    right: 30px;
    border-radius: 50% 50% 0;
    width: 250px;
    height: 250px;

}

.s img {
    width: 100%;
}
.Pr{
    display: flex;
    margin: auto;
    justify-content: start;
    flex-direction: row;
    padding: 3px;
    font-weight: 600;
    margin-left: 50px;
    font-size: 45px;
}
#E {
   height: 300px;
   width: fit-content;
   color: rgb(228, 153, 14);
   font-weight: 600;
   font-size: 25px;
   margin: auto;
   margin-left: 50px;
    }
    #E a{
        color: rgb(58, 142, 215);
        text-decoration: none;
    }